# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
out/
build/

# intellij
.idea/

### Kotlin ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar

!gradle-wrapper.jar